/* ----------- Some default styling for idlForm ------------- */
div.idlform	{					margin-bottom:15px;}
div.idlform h2 {				font-weight:normal;}
form.idlform {}
form.idlform fieldset {			border:0px;
								margin:0 0 20px 0;
								padding:0;
								float:left;}

form.idlform label {			display:block;
								float:left;
								width: 16%;
								margin-right: 15px;}

form.idlform label.checkbox,
form.idlform label.radiobutton {padding-top:2px;}

form.idlform label.submit {		border-bottom:0px;}

form.idlform input.text {		width:250px;
								padding-top:3px;
								padding-bottom:3px;
								padding-left:3px;
								line-height:1em;}

form.idlform textarea {			height:100px;
								padding:3px;}

div.uploader input {			width: 209px;}

								
/* ----------- Some default styling for idlForm validation handling ------------- */

div.idlform_errorMessage {
	background-color: #FFEEDD;
	border: 1px solid #FF0000;
	padding: 10px 0;
	width: 99%;
}

div.idlform_errorMessage span.label {
	display: block;
	float: left;
	margin: 0 10px 10px;
	width: 33%;
}

div.idlform_errorMessage span.errortext {
	color: #FF0000;
	width: 66%;
}

								
form.idlform span.required {	color:#F00;}
								
form.idlform label.error {		border:none;
								color:#F00;}

/* ----------- Some width styling ------------- */


form.idlform fieldset.w33percent {			width: 33.33%;}

form.idlform fieldset.w33percent input.text,
form.idlform fieldset.w33percent textarea {	width: 40%;}

form.idlform fieldset.w33percent label {	width: 48.48%;}


form.idlform fieldset.w50percent {			width: 50%;}

form.idlform fieldset.w50percent input.text,
form.idlform fieldset.w50percent textarea {	width: 60%;}

form.idlform fieldset.w50percent label {	width: 32%;}


form.idlform fieldset.w66percent {			width: 66.66%;}

form.idlform fieldset.w66percent input.text,
form.idlform fieldset.w66percent textarea {	width: 70%;}

form.idlform fieldset.w66percent label {	width: 24.24%;}


form.idlform fieldset.w100percent {			clear:both;
											width:100%}

form.idlform fieldset.w100percent input.text,
form.idlform fieldset.w100percent textarea {width: 80%;}

form.idlform fieldset.w100percent label {	width: 16%;}

/* ----------- Checkboxes and radiobuttons ------------- */
form.idlform fieldset .radio,
form.idlform fieldset .checker {			margin-left: -4px;}

/* ----------- Fixing the datepicker styling ------------- */

table.ui-datepicker-calendar {	border-collapse: separate;}

.input-date-datepicker-control .ui-datepicker-header .ui-icon-circle-triangle-w {
    background-position: -229px 7px !important;
    left: 3px;
}

.input-date-datepicker-control .ui-datepicker-header .ui-icon-circle-triangle-e {
    background-position: -248px 7px !important;
    right: 3px;
}

form.idlform .form-ui-invalid {
    box-shadow: 0 0 1.5px 1px red;
    opacity: 1 !important;
}

form.idlform input[type='file'].form-ui-invalid,
form.idlform input[type='checkbox'].form-ui-invalid,
form.idlform input[type='radio'].form-ui-invalid {
    opacity: 0 !important;
}

.clear {display:block !important; clear: both; height:1px; overflow: hidden;}


@media only screen and (max-width: 760px) {
	form.idlform fieldset.w33percent label,
	form.idlform fieldset.w50percent label,
	form.idlform fieldset.w66percent label,
	form.idlform fieldset.w100percent label {
	    width: 100%;
	}
	
	form.idlform label.submit {display: none;}
	
	form.idlform fieldset.w100percent input.text,
	form.idlform fieldset.w100percent textarea {width: 96.66%;}
	
	form.idlform fieldset.w66percent input.text,
	form.idlform fieldset.w66percent textarea {width: 95%;}
	
	form.idlform fieldset.w50percent input.text,
	form.idlform fieldset.w50percent textarea {width: 93%;}
	
	form.idlform fieldset.w33percent input.text,
	form.idlform fieldset.w33percent textarea {width: 90%;}
}

@media only screen and (max-width: 480px) {
	
	form.idlform fieldset.w33percent,
	form.idlform fieldset.w50percent,
	form.idlform fieldset.w66percent,
	form.idlform fieldset.w100percent {width: 100%;}
	
	form.idlform fieldset.w33percent label,
	form.idlform fieldset.w50percent label,
	form.idlform fieldset.w66percent label,
	form.idlform fieldset.w100percent label {
	    width: 100%;
	}
	
	form.idlform fieldset.w33percent input.text,
	form.idlform fieldset.w33percent textarea,
	form.idlform fieldset.w50percent input.text,
	form.idlform fieldset.w50percent textarea,
	form.idlform fieldset.w66percent input.text,
	form.idlform fieldset.w66percent textarea,
	form.idlform fieldset.w100percent input.text,
	form.idlform fieldset.w100percent textarea {width: 95%;}
}

/* ----------- Overrides for uniform ------------- */
form.idlform div.button span {padding-top: 4px; padding-bottom: 4px;}